.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .text-column {
    flex: 4;
    padding: 20px;

    p{
      font-size: 25px;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .service-column {
    flex: 3;
    padding: 40px;

    .service {
      padding: 0 40px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;

      img {
        max-width: 100px;
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 10px;
      }

      h3 {
        margin-top: 20px;
      }

      p {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 767.98px) {
    .text-column {
      p {
        text-align: left;
        font-size: 1rem;
      }
    }

    .service-column, .service {
      padding: 0 !important;
    }
  }
}

