.introduction-container{
  padding: 50px 100px 0 100px;
}

.developer-name{
  font-weight: 400;
  font-size: 72px;
}

.developer-profession{
  font-weight: 600;
  font-size: 40px;
  margin-top: 10px;
  opacity: 0.8;
}

.developer-description{
  font-size: 38px;
  line-height: 1.5;
  font-weight: 400;
}